<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badminton Venue Availability</title>
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=maps,marker"></script>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" href="./static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Badminton Venue Availability</h1>
        <label for="datePicker">Select Date:</label>
        <input type="date" id="datePicker" min="{{ min_date }}" max="{{ max_date }}">
        <button id="fetchDataBtn">Fetch Data</button>

        <!-- Add loading animation -->
        <div class="loader" id="loader"></div>
        <div id="map"></div>
        <div id="venueData"></div>
    </div>

    <script src="./static/main.js"></script>
</body>
</html>
